@page
@model IndexModel
@{
    ViewData["Title"] = "Technical Assesment Oracle";
    ViewData["Page"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Technical Assesment Oracle</p>
    <p>Alexandru Ion</p>
</div>
